.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: #121212;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  /* border-bottom: 1px solid #dec895; */
  justify-content: space-between;
}

.navbarLogo {
  padding-top: 20px;
}

.navbar h1 {
  color: #eeecec;
}

.footer {
  color: #eeecec;
}

.title a {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #eeecec;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.containerForImageTagline {
  display: flex;
  /* Establishes a flex container */
  justify-content: center;
  /* Centers children horizontally in the container */
  align-items: center;
  /* Aligns children vertically in the center */
}

.circularImage {
  border-radius: 50%;
  overflow: hidden;
  /* Ensures the image does not spill outside the border */
  width: 400px;
  /* Width of the circle */
  height: 400px;
  /* Height of the circle, should match width for a perfect circle */
  display: inline-block;
  /* Helps center the image in the div */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.circularImage img {
  width: 400px;
  /* Adjusts width based on the height */
  height: 400px;
  /* Makes the image fully occupy the container's height */
  object-fit: cover;
  /* Ensures the image covers the area without stretching */
}



.titleContainer {
  padding-left: 100px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1rem;
  line-height: 1;
  font-size: 5.5rem;
  color: #eeecec;
  text-align: left;
}


.description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #eeecec;
  line-height: 1.1;
  font-size: 2.5rem;
  text-align: left;
}

.gridUp {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 1200px;
  /* max-width: 800px; */
  margin-top: 3rem;
  margin-left: 0;
}

.gridDown {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  width: 1200;
  /* max-width: 800px; */
  margin-top: 3rem;
  margin-right: 0;
}

.card {
  margin: 1rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  text-align: left;
  color: #eeecec;
  text-decoration: none;
  border: 2px solid #eeecec;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.cardUp {
  width: 600px;
  height: 470px;
}

.cardDown {
  width: 600px;
  height: 540px;
}

.card:hover,
.card:focus,
.card:active {
  color: #eeecec;
  border-color: #dec895;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.logo {
  height: 30px;
  width: 35px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.flowingWords {
  font-size: 20px;
  color: #dec895;
  font-size: 1.5rem;
}

.waitlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.imageContainerUp {
  margin-left: 100px;
}

.imageContainerDown {
  margin-right: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gridItem img {
  max-width: 100%;
  max-height: 200px;
}

.homelink {
  padding-left: 30px;
  font-size: 25px;
  color: #eeecec;
}

.registrylink {
  padding-right: 10px;
  font-size: 25px;
  color: #eeecec;
}

.allartworks {
  background-color: #121212;
}

.allartworks h1 {
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: 0;
}