@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19695c;
  font-family: "Quicksand";
}

.navbar {
  font-family: "Quicksand";
  background-color: #19695c;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  /* Adjust padding as needed */
  box-shadow: 0 2px 4px rgba(114, 51, 51, 0.1);
  width: 100%;
  border-bottom: 6px solid #f9bd08;
  justify-content: space-between;
}

.navbar h1 {
  color: #eeecec;
}

.title a {
  font-family: "Quicksand";
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: "Quicksand";
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 4rem;
  color: #f9bd08;
}

.title {
  text-align: center;
}

.description {
  font-family: "Quicksand";
  text-align: center;
  color: #eeecec;
}

.description {
  line-height: 1.5;
  font-size: 1.8rem;
}

.gridUp {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 1200px;
  /* max-width: 800px; */
  margin-top: 3rem;
  margin-left: 0;
}

.gridDown {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  width: 1200;
  /* max-width: 800px; */
  margin-top: 3rem;
  margin-right: 0;
}

.card {
  margin: 1rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  text-align: left;
  color: #eeecec;
  text-decoration: none;
  border: 2px solid #eeecec;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.cardUp {
  width: 600px;
  height: 470px;
}

.cardDown {
  width: 600px;
  height: 540px;
}

.card:hover,
.card:focus,
.card:active {
  color: #eeecec;
  border-color: #f9bd08;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.logo {
  height: 30px;
  width: 35px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.flowingWords {
  font-size: 20px;
  color: #f9bd08;
  font-size: 1.5rem;
}

.waitlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.imageContainerUp {
  margin-left: 100px;
}

.imageContainerDown {
  margin-right: 100px;
}

/* styles.module.css or a similar file */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Creates three columns */
  gap: 10px;
  /* Adjusts the gap between grid items */
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gridItem img {
  max-width: 100%;
  /* Makes sure the image doesn't exceed the cell's width */
  max-height: 200px;
  /* Adjusts the image's maximum height */
}

.homelink {
  padding-left: 30px;
  font-size: 25px;
  color: #eeecec;
}

.registrylink {
  padding-right: 10px;
  font-size: 25px;
  color: #eeecec;
}

.allartworks h1 {
  font-family: "Quicksand";
  padding-left: 30px;
  padding-bottom: 30px;
}